<header>
	<h1>
		<img src="assets/img/logo.png"><img src="assets/img/rosetta.png" id="rosetta" alt="rosetta"><span>{{ver}}</span>
	</h1>
	<p id="git">
		<a href="https://github.com/ibuioli/rosetta" target="blank" title="github.com/ibuioli/rosetta">GitHub</a>
	<p>
</header>

<div>
	<div id="rosetta_container" class="row">
		<div id="refp5" class="refdiv col d-none d-md-block col-md-2">
			<img src="assets/img/p5-logo.png" alt="processing" id="img-r-p5">
			<p id="p5v">v {{p5v}}</p>

			<mat-form-field>
				<mat-label>P5 version</mat-label>
				<mat-select value="auto">
					<mat-option value="auto">auto</mat-option>
				</mat-select>
			</mat-form-field>

			<input (change)="d.upload($event, p5, p5_debug)" type="file" name="file" id="file" class="inputfile">

			<button id="upload" mat-stroked-button color="primary"><label for="file">Upload ▲</label></button>

			<p id="p5_debug" #p5_debug></p>

			<p class="ref"><a href="https://processing.org/reference/" target="blank">P5 Reference</a></p>
		</div>
		<div class="lancon row col-12 col-md-8">
			<div class="col col-12 col-md-6">
				<div id="p5txt" class="txt">p5</div>
				<div id="cp5">
					<div #fp5 id="fp5"></div>
					<textarea #p5 id="p5" spellcheck="false" autofocus></textarea>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div id="oftxt" class="txt">{{disCFile}}</div>

				<pre #of id="of" [hidden]="!displayB1" spellcheck="false"></pre>
				<pre #of2 id="of2" [hidden]="!displayB2" spellcheck="false"></pre>
				<pre #of3 id="of3" [hidden]="!displayB3" spellcheck="false"></pre>

				<div #boton1 id="boton1" class="botones" [class.bactive]="displayB1">
					.CPP
				</div>
				<div #boton2 id="boton2" class="botones" [class.bactive]="displayB2">
					.CPP
				</div>
				<div #boton3 id="boton3" class="botones" [class.bactive]="displayB3">
					.H
				</div>
			</div>
		</div>
		<div id="refof" class="refdiv col d-none d-md-block col-md-2">
			<img src="assets/img/of-logo.png" alt="openframeworks" id="img-r-of">
			<p id="ofv">v {{ofv}} +</p>

			<mat-form-field color="accent">
				<mat-label>OF version</mat-label>
				<mat-select [(value)]="ofv" (selectionChange)="onChange($event)">
					<mat-option value="0.9.x">0.9.x</mat-option>
					<mat-option value="0.8.x">0.8.x</mat-option>
				</mat-select>
			</mat-form-field>

			<div class="button-container">
				<button id="download" class="float-right" mat-stroked-button color="accent" (click)="d.download(main, app, apph, debug)">Download ▼</button>
			</div>

			<p id="debug" #debug></p>

			<p class="ref"><a href="http://openframeworks.cc/documentation/" target="blank">OF Reference</a></p>
		</div>
	</div>
</div>
