<header>
	<h1>
		<img src="assets/img/logo.png"><img src="assets/img/rosetta.png" id="rosetta" alt="rosetta"><span>{{ver}}</span>
	</h1>
	<p id="git">
		<a href="https://github.com/ibuioli/rosetta" target="blank">GitHub</a>
	<p>
</header>

<div id="con">
	<div id="p5txt" class="txt">p5</div>
	<div id="oftxt" class="txt" [hidden]="!displayB1">of | ofApp.cpp</div>
	<div id="oftxt2" class="txt" [hidden]="!displayB2">of | main.cpp</div>
	<div id="oftxt3" class="txt" [hidden]="!displayB3">of | ofApp.h</div>
	<div id="cp5">
		<div id="fp5"></div>
		<textarea id="p5" spellcheck="false" autofocus></textarea>
	</div>
	<div id="tras"></div>

	<pre id="of" [hidden]="!displayB1" spellcheck="false"></pre>
	<pre id="of2" [hidden]="!displayB2" spellcheck="false"></pre>
	<pre id="of3" [hidden]="!displayB3" spellcheck="false"></pre>

	<div id="boton1" class="botones" [class.bactive]="displayB1">
		.CPP
	</div>
	<div id="boton2" class="botones" [class.bactive]="displayB2">
		.CPP
	</div>
	<div id="boton3" class="botones" [class.bactive]="displayB3">
		.H
	</div>
</div>

<div id="refp5" class="refdiv">
	<img src="assets/img/p5-logo.png" alt="processing" id="img-r-p5">
	<p id="p5v">v {{p5v}}</p>

	<p id="p5tit">P5 version:</p>
	<select id="p5vers" #t (change)="onChange($event, t.value)">
		<option value="auto">auto</option>
	</select>

	<p id="ref"><a href="https://processing.org/reference/" target="blank">P5 Reference</a></p>
</div>

<div id="refof" class="refdiv">
	<img src="assets/img/of-logo.png" alt="openframeworks" id="img-r-of">
	<p id="ofv">v {{ofv}}</p>

	<p id="oftit">OF version:</p>
	<select id="ofvers" #t (change)="onChange($event, t.value)">
		<option value="0.9.x">0.9.x</option>
		<option value="0.8.x">0.8.x</option>
	</select>

	<button id="download" (click)="d.download(main, app, apph)">Download ▾</button>

	<p id="debug"></p>

	<p id="ref"><a href="http://openframeworks.cc/documentation/" target="blank">OF Reference</a></p>
</div>
