$of-color: rgb(238, 57, 135);
$p5-color: rgb(15, 70, 118);

a{
	text-decoration:none;
}
header{
	width:100%;
	height:40px;
	overflow: hidden;
	box-shadow: 0px 0px 8px 1px rgba(100,100,100,1);
	opacity:.9;
	position:relative;
	user-select: none;
	z-index:99;
}
h1{
	font-size:20px;
	color:#444;
	margin:10px 0 0 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 3px #777;
}
h1 img{
	float:left;
}
h1 span{
	display:block;
	margin:5px 0 0 10px;
	padding-left:8px;
	font-size:10px;
	float:left;
	border-left:1px #444 solid;
}
#rosetta{
	margin:-5px 0 0 12px;
}
#git{
	position:absolute;
	right:15px;
}
#git a{
	letter-spacing:1px;
	font-weight: bold;
	font-size:14px;
	color:#666;
}
#git a:hover{
	text-decoration:underline;
}

#rosetta_container{
	height: calc(100vh - 40px);
	max-height: calc(100vh - 40px);
	overflow: hidden;
}

#con{
	width:734px;
	height:94%;
	overflow:hidden;
	margin:10px auto;
	position:relative;
}
#cp5{
	width:100%;
	height:100%;
	font-size:14px;
	float:left;
	background:#fff;
  box-shadow: inset 0px 0px 8px 1px rgba(220,220,220,1);
}
#cp5 #p5, #cp5 #fp5, #of, #of2, #of3{
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size:14px;
	width:100%;
	padding:5px;
	color: black;
	border:0 solid;
	resize:none;
	outline:none;
	text-align: left;
	direction: ltr;
	word-spacing: normal;
	line-height: 1.5;
	white-space: pre-wrap;
	tab-size: 4;
	overflow:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: normal;
	max-height:100%;
}
#cp5 #p5{
	position:absolute;
	top:0;left:0;
	height:100%;
	max-height:100%;
	background:rgba(0,0,0,0);
	box-shadow: inset 0px 0px 8px 1px rgba(220,220,220,1);
	border:1px solid #c8c8c8;
	-webkit-text-fill-color:transparent;
}
#cp5 #fp5{
	height:100%;
	max-height:100%;
	background:#fff;
	padding:5px;
}
#of, #of2, #of3 {
	height:100%;
	max-height:100%;
	float:left;
	background:#fff;
	border:1px solid #c8c8c8;
	box-shadow: inset 0px 0px 8px 1px rgba(220,220,220,1);
	text-shadow: 0 1px white;
}
#tras{
	width:10px;
	height:5px;
	float:left;
}
#p5txt{
	color: $p5-color;
	width:25px;
	display:block;
}
#oftxt{
	color: $of-color;
	width:90px;
	display:block;
}
.txt{
	background-color:#fff;
	border-radius: 2px;
	position:absolute;
	text-align:center;
	z-index:10;
	user-select: none;
	right:20px;
	top:5px;
	font-size: 12px !important;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.refdiv{
	background:#e1e1e1;
	opacity:0.9;
	user-select: none;
	display:block;
}
#refp5 .ref{
	left:0px;
}
#refof{
	text-align:right;
	right:0px;
}
#refp5 img, #refof img{
	opacity:.8;
}
#img-r-of{
	margin:10px 5px 0 0;
}
#img-r-p5{
	margin:8px 0 0 0;
}
#copy{
	position:absolute;
	bottom:40px;
	right:30px;
}
#ofv{
	margin:10px 5px 0 0;
	font-size:16px;
}
.button-container{
	width:100%;
	min-height:90px;
}
#download, #upload{
	background:#fff;
	margin:20px 5px;
	display:block;
}
#upload label {
	margin:0;
}
#upload label:hover {
	cursor:pointer;
}
.inputfile{
	width:0.1px;
	height:0.1px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1;
}
.ref{
	position:absolute;
	bottom:0px;
	padding:0 5px;
}
.ref a:hover{
	text-decoration:underline;
}
#refof .ref{
	right:5px;
}
#refof a{
	color: $of-color;
}
#p5v{
	margin:10px 0 0 5px;
	font-size:16px;
	user-select: none;
}
#refp5 a{
	color: $p5-color;
}
#debug, #p5_debug{
	padding:5px;
}
.col{
	padding:0 !important;
	max-height: 100%;
}
.row{
	margin:0 !important;
	max-height: 100%;
}
.lancon{
	margin:10px 0 !important;
	max-height: 97%;
}
.ofScroll::-webkit-scrollbar, .p5Scroll::-webkit-scrollbar {
  	width: 14px;
}
.ofScroll::-webkit-scrollbar-track, .p5Scroll::-webkit-scrollbar-track {
  	background: #f0f0f0;
}
.ofScroll::-webkit-scrollbar-thumb {
  	background: rgba($of-color, .9);
}
.p5Scroll::-webkit-scrollbar-thumb {
	background: rgba($p5-color, .9);
}
.ofScroll::-webkit-scrollbar-thumb:hover{
	background: rgba($of-color, .7);
}
.p5Scroll::-webkit-scrollbar-thumb:hover{
	background: rgba($p5-color, .7);
}
/*MATERIAL*/
mat-form-field {
	width:100%;
	padding:20px 5px 0 5px;
}
mat-button-toggle-group {
	position: absolute;
	bottom: 8px;
	right: 24px;
}
mat-button-toggle {
	font-size: 12px !important;
	font-weight: bold;
}
.mat-button-toggle-checked {
    background-color: $of-color;
    color: #fff;
}