/* Imports */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';

/*NG Material Theme*/
@include mat-core();

$elements-primary: mat-palette($mat-indigo);
$elements-accent: mat-palette($mat-pink, A200, A100, A400);

$elements-warn: mat-palette($mat-red);

$elements-theme: mat-light-theme($elements-primary, $elements-accent, $elements-warn);

/***************************************************************************************************/

@include angular-material-theme($elements-theme);

/*Content*/
html {
	-webkit-font-smoothing: none;
	-webkit-text-size-adjust: none;
}
body, html{
	width:100%;
	height:100%;
	overflow: hidden;
}
body {
	position:relative;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 100%;
	font-size: 0.79em;
	font-weight: normal;
	line-height: 1.5em;
	color:#252525;
	background:#eee;
	width:100%;
	height:100%;
}
/*HIGHLIGHT*/
/*C++*/
brk{
  color:#ff0000;
}
vars{
  color:#0000a0;
}
str{
	color:#0000ff;
}
chr{
	color:#e0a000;
}
num{
	color:#f000f0;
}
com {
	color:#00a000 !important;
}
/*P5*/
p5var{
	color:#e36d24;
}
p5typ{
	color:#33997e;
}
p5fun{
	color:#006699;
}
p5sys{
	color:#d94a7a;
}
p5com{
	color:#666;
}
p5str{
	color:#7d4793;
}
p5con{
	color:#718a62;
}
