/*Documento, Limpiadores*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin:0;padding:0;}table {border-collapse:collapse;border-spacing:0;}fieldset, img {border:0;}address, caption, cite, code, strong, dfn, em, th, var {font-style:normal;font-weight:normal;}ol, ul {list-style:none;}caption, th {text-align:left;}h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}q:before, q:after {content:'';}abbr, acronym {border:0;}input:focus{outline:0px;}html {overflow-x:hidden;overflow-y:hidden;}
/*Contenido*/
@font-face {
	font-family: "theSerif";
	src: url("assets/font/TheSerif_B4_Plain_.eot"), url("assets/font/TheSerif_B4_Plain_.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
body, html{
	width:100%;
	height:100%;
}
body {
	position:relative;
	font-family: "theSerif", georgia, times, serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font-size: 100%;
  font-size: 0.79em;
	font-weight: normal;
	line-height: 1.5em;
	color:#252525;
	background:#eee;
	width:100%;
	height:100%;
}
